.ProductListContainer {
  width: 100%;
  padding: 0px 3em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: 360px) {
}

@media (min-width: 480px) {
  .ProductListContainer {
    flex-direction: row;
  }
}

@media (min-width: 640px) {
  .ProductListContainer {
    flex-direction: row;
  }
}

@media (min-width: 960px) {
  .ProductListContainer {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1366px) {
}

@media (min-width: 1536px) {
}

@media (min-width: 1920px) {
}
