@import './../../assets/styles/_colors.scss';

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navigator {
  @extend .align-center;
  width: 100%;
  background-color: $primary-color;
  height: 50px;
  position: relative;

  .HorizontalMenu {
    display: none;
  }
}

.MenuButton {
  color: $tertiary-color;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (min-width: 360px) {
}

@media (min-width: 480px) {
  .Product {
    margin: 1em 0.5em;
    width: 100%;
  }
}

@media (min-width: 640px) {
  .Product {
    margin: 1em 0.5em;
    width: 50%;
  }
}

@media (min-width: 960px) {
  .Navigator {
    justify-content: start;
    height: 70px;

    svg {
      margin: 0px 1em;
    }

    .HorizontalMenu {
      display: block;
      list-style: none;
      display: flex;

      li {
        margin: 0 0.3em;
        cursor: pointer;
        a {
          text-decoration: none;
          color: $tertiary-color;
        }
      }
    }
  }

  .MenuButton {
    display: none;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1366px) {
  .Product {
    margin: 1em 0.5em;
    width: 25%;
  }
}

@media (min-width: 1536px) {
}

@media (min-width: 1920px) {
}
